# Handle line endings
* text=auto

# Treat specific file types as binary
*.png binary
*.jpg binary
*.so binary

# Text files
*.c text
*.h text

# Merge strategies for specific files
*.lock merge=ours
